<?php return array(
    "errors"        => false,
    "base_url"      => "http://localhost/simple-todo",
    "timezone"      => "Europe/Bratislava",
    "db_type"       => "mysql",
    "db_host"       => "localhost",
    "db_port"       => 3310,
    "db_name"       => "todo",
    "db_user"       => "root",
    "db_pass"       => "root",
    "encryptSecret" => "bla bla",
);